/* .App {
  background-color: #e6e6fa;
  display: flex;
  justify-content: space-between;
}

.img-left{
  justify-content: left;
  display: flex;
}

.img-right{
  justify-content: right;
}

.descricao{
  width: 1133.75px;
  height: 479.83px;
  background: #FFFFFF;
  border-radius: 90px;
  border: 1px solid #C1C1F3;
} */

.App {
  background-color: #e6e6fa;
  display: flex; /* Enable flexbox for the main container */
  justify-content: space-between;
  align-items: center; /* Center the child elements vertically */
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex; /* Enable flexbox for the inner container */
  /* background-image: url(./back.svg); */
  width: 100%;
  height: 740px;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.descricao {
  text-align: center; /* Center the text within the description */
  width: 1133.75px;
  height: 479.83px;
  background: #FFFFFF;
  border-radius: 90px;
  border: 1px solid #C1C1F3;
  box-shadow: 0px 4px 4px #C1C1F3;
  justify-content: space-between;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  color: #656568;
}

.nav{
  background: #8181E6;
  height: 115px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#perfil{
  width: 187px;
  height: 182px;
  /* flex-grow: 1; */
  /* position: absolute; */
  top: 14%;
  transform: translateY(-50%);
  margin: 0 auto;
}

#bolha1{
  position: absolute;
  left: 0;
}

#bolha2{
  position: absolute;
  right: 0;
}

.descricao h1{
  font-family: 'Inknut Antiqua';
  font-size: 32px;
  color: black;
}